
@font-face {
    font-family: 'DEATHCROW';
    src: url('../public/fonts/DEATHCROW.ttf');
}


body{
    background-image: url('../public/img/gibet.jpeg');
    color: #dfdfdf;
    font-family: 'DEATHCROW';
}

#topPart{
    height: 50vh;
    display: flex;
    flex-direction: row;
}
#titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1,h3{
    text-align: center;
    background-color: rgba(70, 70, 78, 0.7);
    border-radius: 5%;
    width: 20vw;
    margin: auto;
    color: rgb(255, 121, 87);
}

h1{
    font-size: 7vh;
}


#topDroit{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    background-color: rgba(120, 120, 131, 0.7);
    border-radius: 5%;
}
#checked{
    padding: 5%;
    font-size: 4vh;
    width: 15vw;
}
#corps{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 30%;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
}
.corps7{
    background-image: url('../public/img/pendu-part1.png');

}

.corps6{
    background-image: url('../public/img/pendu-part2.png');

}

.corps5{
    background-image: url('../public/img/pendu-part3.png');

}

.corps4{
    background-image: url('../public/img/pendu-part4.png');

}

.corps3{
    background-image: url('../public/img/pendu-part5.png');

}

.corps2{
    background-image: url('../public/img/pendu-part6.png');

}

.corps1{
    background-image: url('../public/img/pendu-part7.png');

}
.corps0{
    background-image: url('../public/img/perdu.jpg');

}
.gagne{
    background-image: url('../public/img/gagne.jpeg');

}
#ciel{
    display: flex;
    justify-content: center;
}
#etoiles{
    text-align: center;
    margin-top: 10%;
    background-color: rgba(120, 120, 131, 0.7);
    border-radius: 5%;
    width: 15vw;
    font-size: 4vh;
}
#recherche{
    
    text-align: center;
    font-size: 3vh;

}
#recherche form label{
    background-color: rgba(120, 120, 131, 0.7);
    border-radius: 5%;
}

.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

@media screen and (max-width: 900px) {
    h1, h3{
        width: 60vw;
    }
    #titre{
        margin-bottom: 3vh;
    }
    #topPart{
        flex-direction: column;
        justify-content: center;
    }
    #topDroit{
        height: 10vh;
    }
    #corps{
        width: 90%;
        height: 45vh;
        margin: auto;
        background-position: center;
       
    }
    #etoiles{
        width: 70%;
    }
    #checked{
        font-size: 2vh;
        width: 100%;
        margin-top: 0%;
        text-align: center;
        padding: 0%;
    }
    #vie{
        padding: 1vh;

    }
    #coeur{
        margin: 0%;
        text-align: center;
    }
}