#topPart{
    height: 50vh;
    display: flex;
    flex-direction: row;
}

#topDroit{
    display: flex;
    flex-direction: column;
}
#corps{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 30%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
.corps7{
    background-image: url('../public/img/pendu-part1.png');

}

.corps6{
    background-image: url('../public/img/pendu-part2.png');

}

.corps5{
    background-image: url('../public/img/pendu-part3.png');

}

.corps4{
    background-image: url('../public/img/pendu-part4.png');

}

.corps3{
    background-image: url('../public/img/pendu-part5.png');

}

.corps2{
    background-image: url('../public/img/pendu-part6.png');

}

.corps1{
    background-image: url('../public/img/pendu-part7.png');

}
.corps0{
    background-image: url('../public/img/perdu.jpg');

}
.gagne{
    background-image: url('../public/img/gagne.jpeg');

}
#etoiles{
    text-align: center;
    margin: 10%;
}
#recherche{
    margin:10%;
    text-align: center;
}

.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}